.bg-header {
  width: 100%;
}
.logo-bg {
  background: greenyellow;
  border-radius: 0 50px 50px 0;
  margin: 10px;
  font-size: 3rem;
  color: #080808;
  padding: 10px !important;
  margin: 0;
  align-items: center;
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 320px) {
  .logo-bg {
    font-size: 28px;
    padding: 5px;
    max-width: fit-content;
  }
  .navbar-light {
    display: flex;
    flex-direction: row-reverse;
  }
  .bowoot {
    font-size: 34px !important;
    padding: 5px !important;
  }
  .bowootheadericon {
    width: 2rem !important;
    margin-right: 6px !important;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .bowoot {
    font-size: 34px !important;
    padding: 5px !important;
  }
  .bowootheadericon {
    width: 2rem !important;
    margin-right: 6px !important;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  .bowoot {
    font-size: 34px !important;
    padding: 5px !important;
  }
  .bowootheadericon {
    width: 2rem !important;
    margin-right: 6px !important;
  }
}
.bowootheadericon {
  width: 2.5rem;
  margin-right: 6px;
}
.bowoot {
  top: 0px;
  color: #080808;
  font-size: 2.4rem;
  margin: 0;
  display: flex;
  align-items: center;
}
.custom {
  display: flex !important;
  width: 100%;
  padding: 0;
  flex-direction: row;
}

.home {
  font-family: "Fredoka One", cursive;
  font-size: 3.2rem;
  font-weight: 400;
}

.servie-link {
  font-weight: 600;
  font-size: 1.2rem;
}

.dropdown > .dropdown-menu,
.show {
  border-radius: 14px !important;
}

.dropdown > .dropdown-menu,
.show > a {
  margin: 10px 0;
}

.custom-navbar-color {
  background-color: #aaf546 !important;
  position: fixed !important;
  z-index: 999;
}
.home5 {
  text-align: left;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1) !important;
  text-align: center;
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .logo-bg {
    font-size: 2rem;
  }
  .bowoot {
    font-size: 1.4rem;
    padding: 0;
  }
}
