@media screen and (max-width: 320px) {
    .pickservicesform {
     font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .pickservicescontainer {
        max-width: 27vh;
    }
    .selecttime{
        max-width: 25vh;
    }
   
  }
